#user-info,
#user-avatar {
    display: block;
    margin: 20px;
   border-radius: 50%;
}

.repository-card {
    width: 500px; 
    margin: 10px; 
}

.repository-card .card-body {
    height: 200px; 
}

#pagination {
    margin-top: 10px;
}

.card-text1{
    background-color:  rgb(79, 149, 214);
    width: fit-content;
    padding: 2px;
    color: white;
    border-radius: 4px;
}

.card-title{
color: rgb(79, 149, 214);
}

.form-control1{
    width: 40px;
}

.form-group1 {
    margin-left:80%;
}